@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

@media screen and (min-width: 0px) {
    body {
        margin: 0px;
        width: 100vw;
        height: 100vh;
    }
    body > * {
        box-sizing: border-box;
    }
    .slideshow-container {
        width: 1000px;
        height: 670px;
        position: relative;
        margin: auto;
        overflow: hidden;
    }
    .slides {
        display: block;
    }
    .slides > img {
        width: 100%;
    }
    #previous, #next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }
    #next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    #previous:hover, #next:hover {
        background-color: rgba(0,0,0,0.8);
    }
    .caption {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 15px;
        width: 100%;
        text-align: center;
    }
    #caption1 {
        color: black;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 20px;
        width: 100%;
        text-align: center;
    }
    .number-text {
        color: red;
        font-size: 20px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
        font-weight: 900;
        font-family: 'Overpass';
    }
    .dot-container {
        text-align: center;
    }
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    .active, .dot:hover {
        background-color: #717171;
    }



}